page-home {
    .content{
        text-align: center;
        background-color: #333333;
    }
    .content_img{
        padding-top:50px;
        padding-bottom:50px;
    
    }
    .content_img img{
        width: 200px;
        height: 200px;
        
    }
    .content_button button{
        padding: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
