page-room1 {
    h1{
        color: wheat;
        font-size: 25px;
    }
    h2{
        padding-top: 30px;
        font-size: 100px;
    }
    .content{
        text-align: center;
        background-color: #333333;
    }
    .content_img{
        padding-top:10px;
        padding-bottom:10px;
    
    }
    .content_img img{
        width: 150px;
        height: 150px;
        
    }
    .content_button button{
        padding: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .region{
        white-space: pre-wrap;
    }

    ion-slides{
        height: 90%;
    }
}
